body {
    background-color: beige;
    text-align: center;
}

p {
    font-size: large;
}

input {
    font-size: larger;
}

button {
    margin: 10px 4%;
    padding: 10px 15px;
    border: solid 1px gray;
    border-radius: 12px;
    font-size: larger;
}